body {
  background: #f0f2f5;
  font-family: Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  .left-items-start {
    align-items: flex-start !important;
  }

  .width-58 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .width-42 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .block {
    display: block !important;
  }
}
